.benefit{
  background: url('./images/bs.png')  bottom 72% left 71% no-repeat;
  position: relative;
}

.benefits{
  display: flex;
  margin-bottom: 233px;
}

.benefits__list{
  position: relative;
  width: 600px;
  height: 600px;
}


.benefits__item{
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 5%;
  &-title{
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 7px;
  }
  &-text{
    font-weight: 500;
    font-size: 16px;
  }
  &--orange{
    background: #ED5A22;
    top: 4%;
    left: 23%;
    width: 260px;
    height: 260px;
  }
  &--yellow{
    background: #F69B03;
    color: #101010;
    top: 40%;
    left: 53%;
    width: 240px;
    height: 240px;
  }
  &--white{
    background: #fff;
    color: #101010;
    top: 46%;
    left: 7%;
    width: 250px;
    height: 250px;
  }
  &--black{
    background: #101010;
    top: 78%;
    left: 38%;
    width: 230px;
    height: 230px;
  }
}

.benefits__text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 78px;
  position: relative;
}

.benefits__title{
  font-weight: 900;
  font-size: 100px;
  line-height: 100%;
  margin-bottom: 27px;
  text-align: end;
}

.benefits__sub{
  font-size: 26px;
}

.banner{
  background: #101010;
  width: 1180px;
  height: 350px;
  border-radius: 300px;
  padding: 60px 0px 0 137px;
  position: relative;
  margin-bottom: 104px;
}

.banner__title{
  font-weight: 900;
  font-size: 80px;
  line-height: 93%;
  margin-bottom: 37px;
}

.banner__text{
  font-size: 26px;
}

.banner__img{
 position: absolute;
 top: 64%;
 left: 60%;
}

.banner__dec{
  position: absolute;
  top:0%;
  right: 0%;
  top: 93%;
  left: 47%;
}

.banner__dec--480{
  display: none;
}

.benefit__btn{
  display: none;
}