.footer{
  background: #101010;
  height: 450px;
  margin-top: -48px;
  padding-top: 148px;
  &::after{
    content: '';
    display: block;
    width: 1178px;
    background: #fff;
    height: 1px;
    margin-right: auto;
    margin-top: 50px;
    margin-left: auto;
  }
}

.logo--footer{
  margin-bottom: 19px;
}

.info{
  display: flex;
}

.info__download{
  margin-right: 87px;
}

.info__download-text{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.info__download-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__download-item{
  background: #000;
  border:1px solid #fff;
  padding: 8px 11px 7px 11px;
  border-radius: 10px;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}

.info__download-link{
  display: flex;
  align-items: center;
}

.info__download-logo{
  margin-right: 15px;
}

.info__about-item{
  margin-bottom: 7px;
  &:last-child{
    margin-bottom: 0;
  }
}

.info__about-link{
  font-size: 14px;
}

.info__download-logo--mob{
  display: none;
}

.end{
  display: none;
}


.info__about-item--mob{
  display: none;
}