.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after{
      content: '';
      display: block;
      width: 1180px;
      height: 1px;
      background-color: #fff;
      margin-top: 18px;
      margin-bottom: 26px;
    }
  }
}

.logo{
  display: flex;
  align-items: center;
  &__pic{
    margin-right: 36px;
  }
}

.logo__name{
  width: 168px;
  margin-right: 30px;
}

.address{
  display: flex;
  align-items: center;
  margin-right: 41px;
}

.address__city{
  margin-right: 29px;
  &::after{
    content:'';
    width: 8px;
    height: 8px;
    border: 1.5px solid #fff;
    border-width: 2px 0 0 2px;
    transform: rotate(224deg);
    display:inline-block;
    margin-left: 8px;
  }
}

.address__info{
  display: flex;
  flex-direction: column;
}

.social__list{
  display: flex;
}

.social__item{
  border: 1.5px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  &:last-child{
    margin-right: 30px;
  }
}


.basket{
  background: #000;
  width: 154px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  &__text{
    display: flex;
    font-size: 14px;
    &::before{
      content: '';
      background: url('./images/basket.png') center center no-repeat;
      display: inline-block;
      height: 20px;
      width: 21px;
      margin-right: 11px;
    }
    &::after{
      content: '';
      display: inline-block;
      border: 1px solid;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

.menu{
  background: #961D2A;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  &__dec{
    content: '';
    display: inline-block;
    height: 9px;
    width: 8px;
    background:#fff;
    border-radius: 50%;
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
  }
}


