.prom__title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.prom-img{
    border-radius: 5px;
    height: 690px;
    width: 100%;
}

.prom__wrap{
    padding-bottom: 50px;
}