

.pros__hedline{
  display: flex;
  flex-direction: column;
  margin-bottom: 101px;
}

.pros__hedlaine-title{
  font-weight: 900;
  font-size: 100px;
  line-height: 100%;
  width: 57%;
  margin-bottom: 34px;
}

.pros__hedline-sub{
  font-size: 26px;
}

.advantage{
  margin-bottom: 132px;
}

.advantage__list{
  display: flex;
}

.advantage__item{
  display: flex;
  flex-direction: column;
  width: 23%;
  margin-right: 130px;
  &:last-child{
    margin-right: 0;
  }
  &::before{
    content: '';
    display: block;
    background: url(./images/star30.png);
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
  }
  &:nth-child(3){
    flex: 0.9;  
  }
}

.advantage__title{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 7px;
}

.advantage__text{
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.promo__list{
  display: flex;
  overflow-x: auto;
}

.promo__list::-webkit-scrollbar{
  display: none;
}

.promo__item{
  margin-right: 15px;
}

.promo{
  background: #101010;
  width: 1180px;
  height: 600px;
  border-radius:30px;
  display: flex;
  align-items:center;
  position: relative;
  margin-bottom: 119px;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(./images/sale.png)top 71% left 10% no-repeat;
  }
}

.promo__arrow{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  &--next{
    transform: rotate(359deg);
    left: 95%;
  }
  &--prev{
    left: 2%;
  }
  &::after{
    content:'';
    width: 8px;
    height: 8px;
    border: 1.5px solid #fff;
    border-width: 2px 0 0 2px;
    transform: rotate(140deg);
    display:inline-block;
  }
}

.promo__info{
  display: flex;
  flex-direction: column;
  margin-right: 125px;
}

.promo__info-title{
  font-weight: 900;
  font-size: 148px;
  line-height: 93%;
}

.promo__info-text{
  font-size: 20px;
}

.promo__info-img{
  display: none;
}